.formWithButtons {
    display: inline;
}

.dropdown {
    display: inline;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ededed;
}

#runtime {
    width: 100%;
    height: 500px;
    border: 1px solid lightgray;
    float: left;
}

#designtime {
    width: 100%;
    height: 500px;
    border: 1px solid lightgray;
    float: left;
}

#runtimepopover {
    width: 500px;
    height: 500px;
    border: 1px solid lightgray;
    float: left;
}


.storeBox {
    width: 400px;
    height: 350px;
    float: left;
    margin: 30px;
}

.storeModel {
    width: 360px;
    height: 250px;
    float: left;
    border: 1px solid lightgray;
}

#editor {
    display: none;
    width: 100%;
    height: 500px;
    border: 1px solid lightgray;
    float: left;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}

#alert-area {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: large;
    background-color: white;
    font-family: Arial;
}

.alert-message {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    color: black;
    background-color: white;
}

.alert-success {
    border: 3px solid green;
}

.timeout {
    border: 3px solid red;
}

.loader {
    float: left;
    border: 6px solid lightgrey;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#images {
    text-align: center;
    margin: 10px auto;
}

#images a {
    margin: 0px 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

#popover {
    position: fixed;
    bottom: 0%;
    right: 0%;
}

.popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

#overviewImage {
    z-index: 100;
    background-color: white;
    max-width: 300px;
}

input.attributestate {

}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

#node-popUp {
    display: none;
    position: absolute;
    top: 350px;
    left: 10%;
    z-index: 299;
    width: 80%;
    padding: 10px;
}

#edge-popUp {
    display: none;
    position: absolute;
    top: 350px;
    left: 170px;
    z-index: 299;
    width: 250px;
    height: 90px;
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 3px;
    border-color: #5394ed;
    padding: 10px;
    text-align: center;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px; /* e.g. change 8x to 4px here */
    overflow: hidden;
}