<!DOCTYPE html>
<html lang="en">
<title>Settings</title>
<meta charset="UTF-8">

<head th:include="fragments/headerTemplate :: headerFragment"/>

<body id="page-top">

<div id="wrapper">

<div th:replace="fragments/sidebarTemplate :: sidebar"/>

<div th:replace="fragments/contentTemplate :: content-wrapper"/>

<div class="container-fluid">

<div class="d-sm-flex align-items-center justify-content-between mb-4">
     <h1 class="h3 mb-0 text-gray-800">Settings - Store</h1>
</div>

              <div class="row" th:fragment="runtimeFragment">
              
              
 <div class="col-lg-6 mb-4">
      <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Configurations</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
           <form action="/config" method = "post">
  Ansible roles: <input type="text" name="ansibleRoles" th:value="${ansibleRoles}"><br>
  Management network id: <input type="text" name="manNWid" th:value="${manNWid}"><br>
  Management network runtime id: <input type="text" name="manNWRuntimeId" th:value="${manNWRuntimeId}"><br>
  Default SSH key: <input type="text" name="sshKey" th:value="${sshKey}"><br>
  Default user data: <input type="text" name="userData" th:value="${userData}"><br>
   Default flavor: <input type="text" name="flavor" th:value="${flavor}"><br>
    Default image: <input type="text" name="image" th:value="${image}"><br>
     Default remote user: <input type="text" name="remoteUser" th:value="${remoteUser}"><br>
     Martserver plugins folder: <input type="text" name="pluginsFolder" th:value="${pluginsFolder}"><br>
  <input type="submit" value="Save">
</form> 
                </div>
              </div>
              
              </div>
              
              <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Registered Extensions</h6>         
                </div>
                <!-- Card Body -->
                <div class="card-body">
                                <table style="width:100%">
<tr th:each="extension : ${extensions}">
        <td th:text="${extension}">1</td>
</tr>
</table>
            
                </div>
              </div>
</div>

</body>
</html>

