<!DOCTYPE html>
<html lang="en">
<title>Settings</title>
<meta charset="UTF-8">

<head th:include="fragments/headerTemplate :: headerFragment"/>

<body id="page-top">

<div id="wrapper">

<div th:replace="fragments/sidebarTemplate :: sidebar"/>

<div th:replace="fragments/contentTemplate :: content-wrapper"/>
<div class="container-fluid">

<div class="d-sm-flex align-items-center justify-content-between mb-4">
     <h1 class="h3 mb-0 text-gray-800">Settings - WOCCI</h1>
</div>

              <div class="row" th:fragment="runtimeFragment">
              
              
 <div class="col-lg-6 mb-4">
      <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Workflow Engine Configurations</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
           <form action="/config/wocci" method = "post">
               <h3>Currently selected Performer: <span th:text="${performer}"/></h3>
               Wocci Performer:
               <select name="performer" id="performer">
                   <option value="Sequential">Sequential</option>
                   <option value="Parallel">Parallel</option>
               </select>
               <br>
               Wocci Cycle: <input type="text" name="wocciCycle" th:value="${wocciCycle}">
               <br>
               Wocci Architecture Scheduler (Discrete, Batch): <input type="text" name="archScheduler" th:value="${archScheduler}">
               <br>

  <input type="submit" value="Save">
</form> 
                </div>
              </div>
              
              </div>
              
</div>

</body>
</html>

