<!-- Sidebar -->

      <!-- Dropdown Card Example -->
              <div  class="card shadow mb-4"  id="mySidebarL2" th:fragment="attributes">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Entity Details</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v fa-lg fa-fw text-primary"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <button class="dropdown-item" href="#" type="submit" value="GET Entity" onclick="getEntity()"> GET Entity</button>    
                      <a class="dropdown-item" href="#">PUT Entity (Not implemented yet)</a>
                      <a class="dropdown-item" href="#">POST Entity (Not implemented yet)</a>
                      <button class="dropdown-item" href="#" type="submit" value="DELETE Entity" onclick="deleteEntity()"> DELETE Entity</button>     
                  </div>
                </div>
                </div>
                <!-- Card Body -->
                <div id="mySidebarL" class="card-body" style="display:none;">
                </div>
                <div id="mySidebarLegend" class="card-body">
                <h3><b>Legend:</b></h3>
                <table th:replace="fragments/legendTemplate :: legend"/>
                  <b>Hover</b> over the icons for more information!
                </div>
        
<script type="text/javascript" th:replace="fragments/legendTemplate :: js" />
              
<script type="text/javascript" th:fragment="js">

// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");


function w3_openL() {
    $(document).ready( function () {
        $('#table_attributes').DataTable({
            "lengthChange": false,
             "pageLength": 5,
             "columnDefs": [
                { "width": "20%", "targets": 0 }
            ]
        });
    } );
  if (mySidebarL.style.display === 'block') {
    
  } else {
    mySidebarL.style.display = 'block';
    mySidebarLegend.style.display = 'none';
  }
}

// Close the sidebar with the close button
function w3_closeL() {
  if (mySidebarL.style.display === 'block') {
    mySidebarL.style.display = 'none';
    mySidebarLegend.style.display = 'block';
  }
}

function getAttributesForSidebar(node) {
    var str = '<h3><b>'+ jsUcfirst(node.kind.split('#')[1]) + ':  '+  node.label + '</b></h3>';
    str += '<table id="table_attributes" class="display">'
        + '<thead>'
        + '<tr>'
        + '<th> OCCI Attribute </th>'
        + '<th> Value </th>'
        +'</tr>'
        + '</thead>'
        + '<tbody>';

    str += addAttributes(node);
    if (node.parts.length > 0) {
        str += addMixins(node);
    }

    str+= '</tbody>'
        + '</table>';
    return str;
}

function addAttributes(entity){
    str = "";
    for (let term of entity.attributes) {
        name = term.name;
        value = term.value;
        if(term.value.length == 0){
            value = "";
        }
        if(term.value.length >= 80){
            value = term.value.substring(0, 70) + "...";
            value = value.toString();
        }
        //str += '<a onclick="myFunction2(\''+ term.name +'\',\''+term.value+'\',\''+node.id+'\');" class="w3-bar-item w3-button w3-hover-black""><b>' + name + ":</b><br/>" + value + '</a>'
        str += '<tr><td>' + name +'</td>';
        str += '<td>' + value;
        str += '<button style="float: right;" onclick="putUpdateAttribute(\''+ term.name +'\',\''+ escape(term.value)+'\',\''+entity.id+'\');"  class="btn btn-warning"><i class="fa fa-edit"></i></button></td>';
    }
    return str;
}

function putUpdateAttribute(attributeName, attributeValue, resourceId) {
  attributeValue = unescape(attributeValue);
  copyStringToClipboard(attributeValue);
  var newValue = prompt("Copied value to clipboard. You may enter a new value:", attributeValue);
  if (!(newValue == null || newValue == "" || newValue == attributeValue)) {
    var alertId = processingAlert("alert-success", "Updating " + attributeName + " to " + newValue);
    console.log("Adjust attribute: " + attributeName + " of resource: " + resourceId + " to: "+ newValue);
    $.post('put', { node: resourceId, attribute : attributeName, value: newValue},
            function(returnedData, status){
              //newAlert(status, "Finished " + actionterm + " on " + str);
              fadeAlert(alertId);
              runRedraw();
            });
  }

}

function addMixins(entity) {
   var str = "";
    str += '<br/><h3 style="display:inline;"><b> Mixins: </b></h3><h4 style="display:inline;">|  ';
        for (let part of entity.parts) {
            var mixName = part.split('#')[1];
            var mixScheme = part.split('#')[0]
            var mixSchemeLast = mixScheme.split('/')[mixScheme.split('/').length - 1]
            str += mixName + '(' + mixSchemeLast + ')  |  '
        }
    str += '</h4>';
    return str;
}

function getActionsForSidebar(node) {
    if(node.actions.length > 0){
        var str = '<h3><b>Actions (' + node.kind.split('#')[1]+ ')</b></h3>';
        for (let term of node.actions) {
            str += '<a onclick="postOCCIAction(\''+ node.id+ '\',\'' + term.split('#')[1] + '\',\'' + node.label + '\');" class="w3-bar-item w3-button w3-hover-black"">' + term.split('#')[1] + '</a>'
        }
        return str;
    }
    return "";
}



function getAttributesForSidebarEdge(edge) {
    var str = '<h3><b>'+ jsUcfirst(edge.kind.split('#')[1]) + '</b></h3>';
    str += '<table id="table_attributes" class="display">'
        + '<thead>'
        + '<tr>'
        + '<th> OCCI Attribute </th>'
        + '<th> Value </th>'
        +'</tr>'
        + '</thead>'
        + '<tbody>';

    str += addAttributes(edge);
    if (edge.parts.length > 0) {
        str += addMixins(edge);
    }

    str+= '</tbody>'
        + '</table>';
    return str;
}

function getActionsForSidebar(edge) {
    console.log("Actions: " + edge.actions.length);
    if(edge.actions.length > 0){
        var str = '<h3><b>Actions</b></h3> <div>';
        for (let term of edge.actions) {
            str += '<button style="margin: 5px;" type="button" onclick="postOCCIAction(\''+ edge.id+ '\',\'' + term.split('#')[1] + '\',\'' + edge.label + '\');"  class="btn btn-primary btn-lg""> <span class="text">' + jsUcfirst(term.split('#')[1]) + '</span></button>';
            console.log(str);
        }
        str += '</div>';
        return str;
    }
    return "";

}

function postOCCIAction(nodeid, actionterm, title) {
  console.log(actionterm);
  var str = nodeid;
  if(typeof title !== 'undefined'){
    str = title;
  }
  //newAlert("success", "Started " + actionterm + " on " + str);
  var alertId = processingAlert("alert-success", "Executing " + actionterm + " on " + str);
  console.log(alertId);
  $.post('action', { node: nodeid, action : actionterm},
          function(returnedData, status){
            console.log(returnedData);
            console.log(status);
            //newAlert(status, "Finished " + actionterm + " on " + str);
            fadeAlert(alertId);
            runRedraw();
          });
}
</script>

</body>
</html>

