<div id="node-popUp" class="card shadow mb-4" th:fragment="entBuilder">
    <h3>Extension</h3>
    <section>
        <p>Choose an extension for your resource:</p>
        <select id="extensionSelection"></select>
        <p id="networkInfo"></p>
    </section>
    <h3>Kind</h3>
    <section>
        <p>Choose a Kind for your Resource from the Extension:</p>
        <select id="kindSelection"></select>
    </section>
    <h3>Mixin</h3>
    <section>
        <p>Choose a set of Mixins to be applied on your resource:</p>
        <div class="row" style="overflow-y: scroll; height:100%;">
            <div id="mixinSelection" class="row  scrollbar-ripe-malinka"></div>
        </div>
    </section>
    <h3>Attributes</h3>
    <section>
        <p>Please fill in the information about the resource:</p>
        <div id="attributeSelection" class="scrollbar-ripe-malinka" style="overflow-y: scroll; height:100%;"></div>
    </section>
</div>