<head th:fragment="headerFragment">

    <!-- Custom fonts for this template-->
    <script type="text/javascript" src="/jquery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template-->
    <link href="/sbAdmin/sb-admin-2.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/jquery.css">

    <link rel="shortcut icon" type="/image/png" th:href="@{favicon.png}"/>


    <script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" src="/js/runtimeModel.js"></script>
    <script type="text/javascript" src="/vis/dist/vis.js"></script>
    <script type="text/javascript" src="/sbAdmin/sb-admin-2.js"></script>

    <script type="text/javascript" src="/jquerySteps/jquery.steps.js"></script>

    <script type="text/javascript" src="/jvalidate/jquery.validate.js"></script>
    <script type="text/javascript" src="/jvalidate/jquery.validate.min.js"></script>


    <link href="/vis/dist/vis-network.min.css" rel="stylesheet" type="text/css"/>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">


    <!-- Custom scripts for all pages-->
    <script src="/sbAdmin/sb-admin-2.js"></script>

    <style>
        .formWithButtons {
            display: inline;
        }

        button {
            vertical-align: top;
        }
    </style>

</head>