                <table id="vertical-1" th:fragment="legend">
                    <tr>
                        <th>Workflow Layer</th>
                        
                        <td style="text-align: center;">
                            <figure class="figure"> 
                                <img style="cursor: pointer;" src="img/task/active.png" class="pointer" alt="task" width="50" height="50" tabindex="50" data-toggle="task-description-popover" data-container="body" data-placement="top" data-img="http://placehold.it/400x200" title="<b>Task Options</b>" />
                                <figcaption class="figure-caption"> 
                                    Task
                                </figcaption> 
                            </figure> 
                        </td>
                        
                        <td style="text-align: center;">
                         <figure class="figure"> 
                            <img style="cursor: pointer;" src="img/decision/finished.png" alt="decision" width="50" height="50" tabindex="50" data-toggle="decision-description-popover" data-placement="top" data-img="http://placehold.it/400x200" title="<b>Decision Options</b>" />
                                <figcaption class="figure-caption"> 
                                    Decision
                                </figcaption> 
                            </figure>
                        </td>
                        <td style="text-align: center;">
                            <figure class="figure">
                                <img style="cursor: pointer;" src="img/loop/active.png" alt="loop" width="50" height="50" tabindex="50" data-toggle="loop-description-popover" data-placement="top" data-img="http://placehold.it/400x200" title="<b>Loop Options</b>" />
                                <figcaption class="figure-caption">
                                    Loop
                                </figcaption>
                            </figure>
                        </td>
                    </tr>
                    <tr>
                        <th>Platform Layer</th>
                        <td style="text-align: center;">
                            <figure class="figure"> 
                                <img style="cursor: pointer;" src="img/application/active.png" tabindex="50" alt="application" width="50" height="50" data-toggle="application-description-popover" data-placement="top" data-img="http://placehold.it/400x200" title="<b>Application Options</b>" />
                                <figcaption class="figure-caption"> 
                                       Application
                                 </figcaption> 
                            </figure> 
                        </td>
                        
                        
                        <td style="text-align: center;">
                            <figure class="figure"> 
                                <img style="cursor: pointer;" src="img/component/active.png" alt="component" width="50" height="50" tabindex="50" data-toggle="component-description-popover" data-placement="top" data-img="http://placehold.it/400x200" title="<b>Component Options</b>" />
                            <figcaption class="figure-caption"> 
                                       Component
                                 </figcaption> 
                            </figure> 
                        </td>
                        
                        <td style="text-align: center;">
                            <figure class="figure"> 
                                <img style="cursor: pointer;" src="img/sensor/active.png" tabindex="50" alt="sensor" width="50" height="50" data-toggle="sensor-description-popover" data-placement="top" data-img="http://placehold.it/400x200" title="<b>Sensor Options</b>" />
                                <figcaption class="figure-caption"> 
                                      Sensor
                                 </figcaption> 
                            </figure> 
                        </td>
                    </tr>
                    <tr>
                        <th>Infrastructure Layer</th>
                          <td style="text-align: center;">
                          <figure class="figure">   
                                <img style="cursor: pointer;" src="img/compute/active.png" alt="compute" width="50" height="50" tabindex="50" data-toggle="compute-description-popover" data-placement="top" data-img="http://placehold.it/400x200" title="<b>Compute Options</b>" />
                                <figcaption class="figure-caption"> 
                                             Compute
                                </figcaption> 
                            </figure> 
                          </td>
                   
                    <td style="text-align: center;">
                        <figure class="figure">   
                            <img style="cursor: pointer;" src="img/network/active.png" alt="network" width="50" height="50" tabindex="50" data-toggle="network-description-popover" data-placement="top" data-img="http://placehold.it/400x200" title="<b>Network Options</b>" />
                            <figcaption class="figure-caption"> 
                                         Network
                            </figcaption> 
                        </figure> 
                    </td>
                    
                    <td style="text-align: center;">
                        <figure class="figure">   
                            <img style="cursor: pointer;" src="img/storage/online.png" alt="storage" width="50" height="50" tabindex="50" data-toggle="storage-description-popover" data-placement="top" data-img="http://placehold.it/400x200" title="<b>Storage Options</b>" />
                            <figcaption class="figure-caption"> 
                                     Storage
                            </figcaption> 
                        </figure> 
                    </td>
                    </tr>

                </table>
                
                
<script type="text/javascript" th:fragment="js">

$(document).ready(function(){
     $('[data-toggle="task-description-popover"]').popover({
          trigger: 'hover',
          html: true,
          content: function () {
                return '<b>Click:</b> inspect mixins, attributes and actions.<br/> <b>Attribute Click:</b> adjust attribute value.';
          },
          title: 'Toolbox'
    }) 
});

$(document).ready(function(){
     $('[data-toggle="decision-description-popover"]').popover({
          trigger: 'hover',
          html: true,
          content: function () {
                return '<b>Click:</b> inspect mixins, attributes and actions.<br/> <b>Attribute Click:</b> adjust attribute value.';
          },
          title: 'Toolbox'
    })
});

$(document).ready(function(){
    $('[data-toggle="loop-description-popover"]').popover({
        trigger: 'hover',
        html: true,
        content: function () {
            return '<b>Click:</b> inspect mixins, attributes and actions.<br/> <b>Attribute Click:</b> adjust attribute value.';
        },
        title: 'Toolbox'
    })
});

$(document).ready(function(){
     $('[data-toggle="application-description-popover"]').popover({
          trigger: 'hover',
          html: true,
          content: function () {
                return '<b>Click:</b> inspect mixins, attributes and actions.<br/> <b>Attribute Click:</b> adjust attribute value.';
          },
          title: 'Toolbox'
    })
});

$(document).ready(function(){
     $('[data-toggle="sensor-description-popover"]').popover({
          trigger: 'hover',
          html: true,
          content: function () {
                return '<b>Click:</b> inspect mixins, attributes and actions.<br/> <b>Attribute Click:</b> adjust attribute value.';
          },
          title: 'Toolbox'
    })
});

$(document).ready(function(){
     $('[data-toggle="component-description-popover"]').popover({
          trigger: 'hover',
          html: true,
          content: function () {
                return '<b>Click:</b> inspect mixins, attributes and actions.<br/> <b>Attribute Click:</b> adjust attribute value. <br/> <b>Double Click:</b> inspect attached ansible script (save changes with <b> Strg+S</b>).';
          },
          title: 'Toolbox'
    })
});

$(document).ready(function(){
     $('[data-toggle="compute-description-popover"]').popover({
          trigger: 'hover',
          html: true,
          content: function () {
                return '<b>Click:</b> inspect mixins, attributes and actions.<br/> <b>Attribute Click:</b> adjust attribute value. <br/> <b>Double Click:</b> inspect attached user data script.';
          },
          title: 'Toolbox'
    })
});

$(document).ready(function(){
     $('[data-toggle="storage-description-popover"]').popover({
          trigger: 'hover',
          html: true,
          content: function () {
                return '<b>Click:</b> inspect mixins, attributes and actions.<br/> <b>Attribute Click:</b> adjust attribute value.';
          },
          title: 'Toolbox'
    })
});

$(document).ready(function(){
     $('[data-toggle="network-description-popover"]').popover({
          trigger: 'hover',
          html: true,
          content: function () {
                return '<b>Click:</b> inspect mixins, attributes and actions.<br/> <b>Attribute Click:</b> adjust attribute value.';
          },
          title: 'Toolbox'
    })
});

</script>