<div class="row" th:fragment="runtimeFragment">
 <div class="col-lg-6 mb-4">

      <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Runtime Model</h6>
             
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v fa-lg fa-fw  text-primary"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Runtime Model Menu:</div>
                      <form id="emptyruntimeform" action = "empty" class="formWithButtons" method = "post" enctype = "multipart/form-data" onsubmit="return confirm('Are you sure you want to delete all elements in the runtime model?');">
                        </form>
                      <button class="dropdown-item"  form="emptyruntimeform" href="#" type="submit" value="Empty Runtime Model" onclick="setTimeout(myPeriodicMethod, 5000)"> Empty Runtime</button>       
                    </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/download/runtime" download="runtime.occic"> Export Portable Runtime Model</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/download/runtime/exact" download="runtime.occic"> Export Exact Runtime Model</a>
                    </div>

                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                 <div id="runtime"></div>
            
                </div>
              </div>
              
              </div>
              
              <div class="col-lg-6 mb-4">
<div th:replace="fragments/attributeInspectionTemplate :: attributes"/>