<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <img src="img/general/logo.png" style="border:0px" height="60px">
        </div>
        <div class="sidebar-brand-text mx-3">SmartWYRM</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
            <i class="fa fa-tachometer"></i>
            <span>Runtime Model</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <i class="fa fa-book"></i>
        Books
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/docci">
            <i class="fa fa-cogs"></i>
            <span>DOCCI</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/wocci">
            <i class="fa fa-share-alt"></i>
            <span>WOCCI</span></a>
    </li>

    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <i class="fa fa-cubes"></i>
        Utilities
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    <li class="nav-item">
        <a class="nav-link" href="/rocci">
            <i class="fa fa-database"></i>
            <span>Model Store</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/history">
            <i class="fa fa-history"></i>
            <span>Job History</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/screenshot">
            <i class="fa fa-camera"></i>
            <span>Runtime Screenshot</span></a>
    </li>

    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fa fa-wrench"></i>
            <span>Settings</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"><i class="fa fa-laptop"></i> OCCI Server:</h6>
                <a class="collapse-item" href="/config">SmartWYRM</a>
                <h6 class="collapse-header"><i class="fa fa-book"></i> Books:</h6>
                <a class="collapse-item" href="/config/wocci"> WOCCI</a>
                <a class="collapse-item" href="/config/docci"> DOCCI</a>
                <h6 class="collapse-header"><i class="fa fa-cubes"></i> Utilities:</h6>
                <a class="collapse-item" href="/config/tocci">Transformations</a>
                <a class="collapse-item" href="/config/store">Store</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->