<!DOCTYPE html>
<html lang="en">
<title>DOCCI</title>
<meta charset="UTF-8">


<head th:include="fragments/headerTemplate :: headerFragment"/>

<body id="page-top" onload="start()" >


<div id="wrapper">

<div th:replace="fragments/sidebarTemplate :: sidebar"/>

<div th:replace="fragments/contentTemplate :: content-wrapper"/>

<div class="container-fluid">

    <div th:replace="fragments/entityBuilderTemplate :: entBuilder"/>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
     <h1 class="h3 mb-0 text-gray-800">DOCCI</h1>
</div>


<div id="alert-area"></div>
      <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Design Time Model</h6>
                        <form action = "docci" class="formWithButtons" method = "post" enctype = "multipart/form-data">
         <input type = "file" name = "file" size = "50" />
         <input type="submit" value="Upload" />
      </form>    
       <form action = "occi2openstack" class="formWithButtons" method = "post" enctype = "multipart/form-data">
         <input type="submit" value="Transform"/>
      </form>
      <form action = "docciDeploy" method = "post" enctype = "multipart/form-data">
         <input type="submit" value="Deploy" onclick="setTimeout(myPeriodicMethod, 5000)" />
      </form> 
      
            <div>
                        <!-- Dropdown 1 -->
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-ellipsis-v fa-lg fa-fw  text-primary"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                      <div class="dropdown-header">Design Time Model Menu:</div>
                                          <a class="dropdown-item" href="#">Compare to Runtime Model</a>
                                          <form id="storedesigntimemodel" action = "/docciStore" class="formWithButtons" method = "post" enctype = "multipart/form-data" onsubmit="processingAlert('alert-success', 'Storing design time model');"></form>
                                          <button class="dropdown-item"  form="storedesigntimemodel" href="#" type="submit" value="Store Design Time Model"> Store Design Time Model</button>       
                                      </div>
                            </div>
                        <!-- Dropdown 2 -->
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-filter fa-lg fa-fw  text-primary"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Visualisation Filter:</div>
                                      <form action="/filter">
                                                    <ul>
                                                      <li th:each="extension: ${extensions}">
                                                        <label th:text="${extension}"></label>
                                                        <input type="checkbox" th:field="*{extensions}" value="test" />
                                                      </li>
                                                    </ul>
                                      </form>
                                    </div>
                            </div>
                        </div>
                </div>
                
                
                
                
                <!-- Card Body -->
                <div class="card-body">
                  <div id="designtime"></div>
                  <div id="editor"></div>
                </div>
              </div>
      

<div th:replace="fragments/runtimeTemplate :: runtimeFragment"/>

</div>

    <!--
<div id="popover">
  <button type="button" class="btn btn-primary" href="#" data-toggle="popover" data-placement="top" title="Runtime Model" data-content="<div class='card-body'><div id='runtimepopover'></div></div>">Runtime Model Popover</a>
</div>-->

</div>
</div>
</div>
</div>
</div>



<script type="text/javascript" th:replace="fragments/attributeInspectionTemplate :: js" />


<script>

var popovernetwork = new vis.DataSet();
var popoveredges = new vis.DataSet();
var popovernodes = new vis.DataSet();
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
         html : true,
         showCallback: function() {
            drawInitialRuntimePopover();
        }
     });
    
});

$("[data-toggle=popover]").on('shown.bs.popover', function () {
    drawInitialRuntimePopover();
});

$("[data-toggle=popover]").on("hidden.bs.popover", function(e) {

});

</script>


<script type="text/javascript" th:inline="javascript">
var network = new vis.DataSet();
var edges = new vis.DataSet();
var nodes = new vis.DataSet();

nodeBuilder = {
    ext: "",
    kind: "",
    mixins: "",
    attributes: ""
}

nodeBuild ={
    ext: "",
    kind: "",
    mixins: [],
    attributes: []
}

var entityType = "resource";
var selectedData;
  
function drawDesigntime() {
     var designnodes = new vis.DataSet([
        /*[# th:each="node : ${designnodes}"]*/  
       {id: /*[[${node.id}]]*/, label: /*[[${node.label}]]*/, group: /*[[${node.group}]]*/, level: /*[[${node.level}]]*/, x: /*[[${node.x}]]*/,  color: {background: /*[[${node.color}]]*/}, border: /*[[${node.bordercolor}]]*/, attributes: /*[[${node.attributes}]]*/, parts: /*[[${node.parts}]]*/, kind: /*[[${node.kind}]]*/, actions: /*[[${node.actions}]]*/},
      /*[/]*/
      ]);
      // create an array with edges
      var designedges = new vis.DataSet([
            /*[# th:each="edge : ${designedges}"]*/  
           {from: /*[[${edge.from}]]*/, to: /*[[${edge.to}]]*/, label: /*[[${edge.label}]]*/, arrows: 'to', attributes: /*[[${edge.attributes}]]*/, color: /*[[${edge.color}]]*/, parts: /*[[${edge.parts}]]*/, kind: /*[[${edge.kind}]]*/, actions: /*[[${edge.actions}]]*/},
          /*[/]*/
      ]);
      // create a network
      var designcontainer = document.getElementById('designtime');
      var designdata = {
        nodes: designnodes,
        edges: designedges
      };
      var options = getOptions();
     var designnetwork = new vis.Network(designcontainer, designdata, options);
    designnetwork.setOptions({manipulation:{enabled: false}})
     
      designnetwork.on("deselectNode", function (params) {
       console.log('deselectNode Event:', params);
        w3_closeL(mySidebar);
    });
     
     designnetwork.on("selectNode", function (properties) {
        w3_openL(mySidebarL);
        var ids = properties.nodes;
        var clickedNodes = designnodes.get(ids);
        console.log(clickedNodes);
        document.getElementById('mySidebarL').innerHTML = getAttributesForSidebar(clickedNodes[0]);
    });
    
    designnetwork.on("selectEdge", function (properties) {
    if(properties.nodes.length === 0) {
     w3_openL(mySidebarL);
        var ids = properties.edges;
        var clickedEdges = designedges.get(ids);
        document.getElementById('mySidebarL').innerHTML = getAttributesForSidebarEdge(clickedEdges[0]);
        }
    });
     
  }
  
    var editor = ace.edit("editor");

var keys = vis.keycharm({
    container: document,
    preventDefault: true
});
</script>

</body>
</html>

