<!DOCTYPE html>
<html lang="en">
<title>History</title>
<meta charset="UTF-8">


<head th:include="fragments/headerTemplate :: headerFragment"/>

<body id="page-top" onload="drawDesigntime(); drawHistoryRuntime();">


<div id="wrapper">

    <div th:replace="fragments/sidebarTemplate :: sidebar"/>

    <div th:replace="fragments/contentTemplate :: content-wrapper"/>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Job History</h1>
        </div>


        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Job Details</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table id="history" class="display">
                    <thead>
                    <tr>
                        <th>Job Id</th>
                        <th>Start Time</th>
                        <th>Finish Time</th>
                        <th>Mode</th>
                        <th>Job Name</th>
                        <th>Duration</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${history.jobId}"></td>
                        <td th:text="${history.readableStartDate}"></td>
                        <td th:text="${history.readableEndDate}"></td>
                        <td th:text="${history.mode}"></td>
                        <td th:text="${history.jobName}"></td>
                        <td th:text="${history.readableDuration}"></td>
                        <td th:text="${history.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Deprovisioning Details</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="card-body" style="height: 400px">
                            <canvas id="deprovChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Provisioning Details</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="card-body" style="height: 400px">
                            <canvas id="provChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Application Deployment Details</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="height: 437px">
                        <canvas id="deplChart"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-2">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Targeted Model</h6>
                    </div>
                    <div class="card-body" style="height: 400px">
                        <div id="designtime" style="height:350px; border: 1px solid lightgray;"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Runtime Model</h6>
                    </div>
                    <div class="card-body" style="height: 400px">
                        <div id="historyRuntime" style="height:350px; border: 1px solid lightgray;"></div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Timeline</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="height: 400px">
                        <div id="timeline"></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-2">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Durations</h6>
                    </div>
                    <div class="card-body" style="height: 400px">
                        <canvas id="provVsDeplChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" th:inline="javascript">
            function drawDesigntime() {
                var designnodes = new vis.DataSet([
                    /*[# th:each="node : ${designnodes}"]*/
                    {
                        id: /*[[${node.id}]]*/,
                        label: /*[[${node.label}]]*/,
                        group: /*[[${node.group}]]*/,
                        level: /*[[${node.level}]]*/,
                        x: /*[[${node.x}]]*/,
                        color: {background: /*[[${node.color}]]*/},
                        border: /*[[${node.bordercolor}]]*/,
                        attributes: /*[[${node.attributes}]]*/,
                        parts: /*[[${node.parts}]]*/,
                        kind: /*[[${node.kind}]]*/,
                        actions: /*[[${node.actions}]]*/
                    },
                    /*[/]*/
                ]);
                // create an array with edges
                var designedges = new vis.DataSet([
                    /*[# th:each="edge : ${designedges}"]*/
                    {
                        from: /*[[${edge.from}]]*/,
                        to: /*[[${edge.to}]]*/,
                        label: /*[[${edge.label}]]*/,
                        arrows: 'to',
                        attributes: /*[[${edge.attributes}]]*/,
                        color: /*[[${edge.color}]]*/,
                        parts: /*[[${edge.parts}]]*/,
                        kind: /*[[${edge.kind}]]*/,
                        actions: /*[[${edge.actions}]]*/
                    },
                    /*[/]*/
                ]);
                // create a network
                var designcontainer = document.getElementById('designtime');
                var designdata = {
                    nodes: designnodes,
                    edges: designedges
                };
                var options = getOptions();
                var designnetwork = new vis.Network(designcontainer, designdata, options);
                designnetwork.setOptions({manipulation: {enabled: false}})
            }
        </script>

        <script type="text/javascript" th:inline="javascript">
            function drawHistoryRuntime() {
                var historyRuntimeNodes = new vis.DataSet([
                    /*[# th:each="node : ${historyRuntimeNodes}"]*/
                    {
                        id: /*[[${node.id}]]*/,
                        label: /*[[${node.label}]]*/,
                        group: /*[[${node.group}]]*/,
                        level: /*[[${node.level}]]*/,
                        x: /*[[${node.x}]]*/,
                        color: {background: /*[[${node.color}]]*/},
                        border: /*[[${node.bordercolor}]]*/,
                        attributes: /*[[${node.attributes}]]*/,
                        parts: /*[[${node.parts}]]*/,
                        kind: /*[[${node.kind}]]*/,
                        actions: /*[[${node.actions}]]*/
                    },
                    /*[/]*/
                ]);
                // create an array with edges
                var historyRuntimeEdges = new vis.DataSet([
                    /*[# th:each="edge : ${historyRuntimeEdges}"]*/
                    {
                        from: /*[[${edge.from}]]*/,
                        to: /*[[${edge.to}]]*/,
                        label: /*[[${edge.label}]]*/,
                        arrows: 'to',
                        attributes: /*[[${edge.attributes}]]*/,
                        color: /*[[${edge.color}]]*/,
                        parts: /*[[${edge.parts}]]*/,
                        kind: /*[[${edge.kind}]]*/,
                        actions: /*[[${edge.actions}]]*/
                    },
                    /*[/]*/
                ]);
                // create a network
                var historyRuntimeContainer = document.getElementById('historyRuntime');
                var historyRuntimeData = {
                    nodes: historyRuntimeNodes,
                    edges: historyRuntimeEdges
                };
                var options = getOptions();
                var historyRuntimeNetwork = new vis.Network(historyRuntimeContainer, historyRuntimeData, options);
                historyRuntimeNetwork.setOptions({manipulation: {enabled: false}})
            }
        </script>

        <script type="text/javascript" th:inline="javascript">

            // DOM element where the Timeline will be attached
            var timelinecontainer = document.getElementById('timeline');

            // Create a DataSet (allows two way data-binding)

            var items = new vis.DataSet();

            var timelineresources = new vis.DataSet([
                {
                    id: "Deprovisioning",
                    content: "Deprovisioning",
                    start: /*[[${history.startDate}]]*/,
                    end: /*[[${history.endDeprovDate}]]*/,
                    type: 'background',
                    style: 'background-color: rgba(255,54,44,0.39)'
                },
                {
                    id: "Provisioning",
                    content: "Provisioning",
                    start: /*[[${history.endDeprovDate}]]*/,
                    end: /*[[${history.endProvDate}]]*/,
                    type: 'background',
                    style: 'background-color: rgba(0,52,255,0.55)'
                },
                {
                    id: "Deployment",
                    content: "Deployment",
                    start: /*[[${history.endProvDate}]]*/,
                    end: /*[[${history.endDate}]]*/,
                    type: 'background',
                    style: 'background-color: rgba(31,255,42,0.30)'
                },


                /*[# th:each="app : ${history.deplHistory}"]*/
                {
                    id: /*[[${app.entId}]]*/,
                    content: /*[[${app.entName}]]*/,
                    start: /*[[${app.startDate}]]*/,
                    end: /*[[${app.endDate}]]*/
                },
                /*[/]*/

                /*[# th:each="ent : ${history.provHistory}"]*/
                {
                    id: "prov" + /*[[${ent.entId}]]*/,
                    content: /*[[${ent.entName}]]*/,
                    start: /*[[${ent.startDate}]]*/,
                    end: /*[[${ent.endDate}]]*/
                },
                /*[/]*/

                /*[# th:each="ent : ${history.deprovHistory}"]*/
                {
                    id: "deprov" + /*[[${ent.entId}]]*/,
                    content: /*[[${ent.entName}]]*/,
                    start: /*[[${ent.startDate}]]*/,
                    end: /*[[${ent.endDate}]]*/
                },
                /*[/]*/
            ]);


            // Configuration for the Timeline
            var timelineoptions = {
                // groupOrder: "start"
                height: 350,
            };

            // Create a Timeline
            var timeline = new vis.Timeline(timelinecontainer, timelineresources, timelineoptions);
        </script>

        <!-- TODO: change to correct css link-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet">
        <script type="text/javascript" src="/vis/dist/vis.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
                integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
              integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
              crossorigin="anonymous"/>

        <script type="text/javascript" th:inline="javascript">
            var ctx = document.getElementById('deplChart').getContext('2d');
            var deplChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [
                        /*[# th:each="app : ${history.deplHistory}"]*/
                        /*[[${app.entName}]]*/,
                        /*[/]*/
                    ],
                    datasets: [{
                        label: 'Deploy',
                        data: transformMsToSArray([
                            /*[# th:each="app : ${history.deplHistory}"]*/
                            /*[[${app.deplDuration}]]*/,
                            /*[/]*/
                        ]),
                        backgroundColor: 'rgba(0,52,255,0.44)',
                        borderWidth: 1
                    }, {
                        label: 'Configure',
                        backgroundColor: 'rgba(0,172,255,0.2)',
                        data: transformMsToSArray([
                            /*[# th:each="app : ${history.deplHistory}"]*/
                            /*[[${app.confDuration}]]*/,
                            /*[/]*/
                        ])
                    }, {
                        label: 'Start',
                        backgroundColor: 'rgba(31,255,42,0.2)',
                        data: transformMsToSArray([
                            /*[# th:each="app : ${history.deplHistory}"]*/
                            /*[[${app.startDuration}]]*/,
                            /*[/]*/
                        ])
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            stacked: true
                        }],
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });


            var prov_ctx = document.getElementById('provChart').getContext('2d');
            var provChart = new Chart(prov_ctx, {
                type: 'bar',
                data: {
                    labels: [
                        /*[# th:each="ent : ${history.provHistory}"]*/
                        /*[[${ent.entName}]]*/,
                        /*[/]*/
                    ],
                    datasets: [{
                        label: 'Provisioning Time in Seconds',
                        data: transformMsToSArray([
                            /*[# th:each="ent : ${history.provHistory}"]*/
                            /*[[${ent.duration}]]*/,
                            /*[/]*/
                        ]),
                        backgroundColor: 'rgba(0,52,255,0.76)',
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            var deprov_ctx = document.getElementById('deprovChart').getContext('2d');
            var deprovChart = new Chart(deprov_ctx, {
                type: 'bar',
                data: {
                    labels: [
                        /*[# th:each="ent : ${history.deprovHistory}"]*/
                        /*[[${ent.entName}]]*/,
                        /*[/]*/
                    ],
                    datasets: [{
                        label: 'Deprovisioning Time in Seconds',
                        data: [
                            /*[# th:each="ent : ${history.deprovHistory}"]*/
                            /*[[${ent.duration}]]*/,
                            /*[/]*/
                        ],
                        backgroundColor: 'rgba(255,54,44,0.39)',
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            var prov_vs_depl_ctx = document.getElementById('provVsDeplChart').getContext('2d');
            var provVsDeplChart = new Chart(prov_vs_depl_ctx, {
                type: 'bar',
                data: {
                    labels: [
                        "Deprovisioning Time", "Provisioning Time", "Deployment Time"
                    ],
                    datasets: [{
                        label: "Duration in Seconds",
                        data: transformMsToSArray([
                            /*[[${history.deprovDuration}]]*/, /*[[${history.provDuration}]]*/, /*[[${history.deplDuration}]]*/
                        ]),
                        backgroundColor: [
                            'rgba(255,54,44,0.39)',
                            'rgba(0,52,255,0.55)',
                            'rgba(31,255,42,0.3)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            function transformMsToSArray(durationInMs) {
                var clonedArr = durationInMs.slice();
                for (let i = 0; i < clonedArr.length; i++) {
                    clonedArr[i] = clonedArr[i] / 1000;
                }
                return clonedArr;
            }
        </script>


</body>
</html>