<!DOCTYPE html>
<html lang="en">
<title>History</title>
<meta charset="UTF-8">


<head th:include="fragments/headerTemplate :: headerFragment"/>

<body id="page-top" onload="createHistoryTable()">


<div id="wrapper">

    <div th:replace="fragments/sidebarTemplate :: sidebar"/>

    <div th:replace="fragments/contentTemplate :: content-wrapper"/>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Job History</h1>
        </div>

        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Submitted Jobs</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table id="history" class="display">
                    <thead>
                    <tr>
                        <th><b>Job Id</b></th>
                        <th>Start Time</th>
                        <th>Finish Time</th>
                        <th>Book</th>
                        <th>Mode</th>
                        <th>Job Name</th>
                        <th>Duration</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="hist: ${history}">
                        <td><b><a th:href="@{'/history/job?jobId=' + ${hist.jobId}}" th:text="${hist.jobId}"/></b></td>
                        <td th:text="${hist.readableStartDate}"></td>
                        <td th:text="${hist.readableEndDate}"></td>
                        <td th:text="${hist.book}"></td>
                        <td th:text="${hist.mode}"></td>
                        <td th:text="${hist.jobName}"></td>
                        <td th:text="${hist.readableDuration}"></td>
                        <td th:text="${hist.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
</div>

<script>

    function createHistoryTable() {
        $(document).ready(function () {
            var histTable = $('#history').DataTable();
            histTable.order([0, 'desc']).draw();
            console.log(history);
        });
    }

    function msToTime(duration) {
        var milliseconds = parseInt((duration % 1000) / 100),
            seconds = Math.floor((duration / 1000) % 60),
            minutes = Math.floor((duration / (1000 * 60)) % 60),
            hours = Math.floor((duration / (1000 * 60 * 60)) % 24);

        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;

        return hours + ":" + minutes + ":" + seconds;
    }
</script>

</body>
</html>