<!DOCTYPE html>
<html lang="en">
<title>Model Store</title>
<meta charset="UTF-8">


<head th:include="fragments/headerTemplate :: headerFragment"/>

<body id="page-top" onload="openlocalcard()">


<div id="wrapper">

    <div th:replace="fragments/sidebarTemplate :: sidebar"/>

    <div th:replace="fragments/contentTemplate :: content-wrapper"/>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Model Store</h1>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle float-right" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Import
                </button>
                <div>
                    <form class="dropdown-menu" method="post" enctype="multipart/form-data" action="/rocci/import">

                        <div class="form-group">
                            <label for="uri">Git Repository URI</label>
                            <input type="uri" name="uri" class="form-control" id="uri" aria-describedby="emailHelp"
                                   placeholder="Git Repository URI">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Import</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4" th:each="repo : ${storeModelRepositories}">
            <!-- Card Header - Accordion -->
            <a th:href="'#'+${repo.rootDir}" th:id="${repo.rootDir} + 'card'" class="d-block card-header py-3 collapsed"
               data-toggle="collapse"
               role="button" aria-expanded="false" th:aria-controls="${repo.rootDir}" onclick="drawStoreModels()">
                <h6 class="m-0 font-weight-bold text-primary" th:text="${repo.rootDir}"/>
            </a>
            <!-- Card Content - Collapse -->
            <div th:id="${repo.rootDir}" class="collapse" style="">
                <div th:each="model : ${repo.storeModels}">
                    <form action="#" th:id="${repo.rootDir}+${model.title}+'chooseDeployment'"
                          th:action="@{'/rocci/docci/'(repo=${repo.rootDir}, model=${model.title})}"
                          class="formWithButtons" th:method="post" enctype="multipart/form-data"></form>
                    <form action="#" th:id="${repo.rootDir}+${model.title}+'chooseWorkflow'"
                          th:action="@{'/rocci/wocci/'(repo=${repo.rootDir}, model=${model.title})}"
                          class="formWithButtons" th:method="post" enctype="multipart/form-data"></form>
                    <form action="#" th:id="${repo.rootDir}+${model.title}+'delete'"
                          th:action="@{'/rocci/'(repo=${repo.rootDir}, model=${model.title})}" class="formWithButtons"
                          th:method="delete" enctype="multipart/form-data"></form>
                    <div class="storeBox card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary" th:text="${model.title}"></h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v fa-lg fa-fw  text-primary"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Action:</div>
                                    <button class="dropdown-item"
                                            th:form="${repo.rootDir}+${model.title}+'chooseDeployment'" href="#"
                                            type="post"><i class="fa fa-cogs"></i> Choose as Deployment
                                    </button>
                                    <button class="dropdown-item"
                                            th:form="${repo.rootDir}+${model.title}+'chooseWorkflow'" href="#"
                                            type="post"><i class="fa fa-share-alt"></i> Choose as Workflow
                                    </button>
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item" th:form="${repo.rootDir}+${model.title}+'delete'"
                                            href="#" type="delete"><i class="fa fa-trash"></i> Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <span class="storeModel" th:id="${repo.rootDir}+${model.title}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript" th:inline="javascript">
            function drawStoreModels() {
                console.log("Drawing Store Models");
                /*[# th:each="repo : ${storeModelRepositories}"]*/
                /*[# th:each="model : ${repo.storeModels}"]*/
                drawStoreModel(/*[[${repo.rootDir}]]*/,/*[[${model.title}]]*/, /*[[${model.nodes}]]*/, /*[[${model.edges}]]*/);
                /*[/]*/
                /*[/]*/
            }

            function openlocalcard() {
                document.getElementsByClassName("container-fluid")[0].getElementsByTagName("a")[0].click();
            }

            function drawStoreModel(rootDir, title, nodes, edges) {
                console.log("Drawing model: " + rootDir + title);
                var designnodes = nodes;
                var designedges = edges;
                console.log(document.getElementById(rootDir + title));
                var designcontainer = document.getElementById(rootDir + title);
                console.log("Container:" + designcontainer);
                var designdata = {
                    nodes: designnodes,
                    edges: designedges
                };
                var options = getOptions();
                var designnetwork = new vis.Network(designcontainer, designdata, options);
                designnetwork.setOptions({manipulation: {enabled: false}})
                designnetwork.setOptions({interaction: {dragNodes: false, dragView: false}})
            }


        </script>

</body>
</html>

