<!DOCTYPE html>
<html lang="en">
<title>History</title>
<meta charset="UTF-8">


<head th:include="fragments/headerTemplate :: headerFragment"/>

<body id="page-top" onload="createHistoryTable()">


<div id="wrapper">

    <div th:replace="fragments/sidebarTemplate :: sidebar"/>

    <div th:replace="fragments/contentTemplate :: content-wrapper"/>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Job History</h1>
        </div>


        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Job Details</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table id="history" class="display">
                    <thead>
                    <tr>
                        <th>Job Id</th>
                        <th>Start Time</th>
                        <th>Finish Time</th>
                        <th>Book</th>
                        <th>Mode</th>
                        <th>Job Name</th>
                        <th>Duration</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a th:href="@{'/history/job?jobId=' + ${history.jobId}}" th:text="${history.jobId}"/></td>
                        <td th:text="${history.readableStartDate}"></td>
                        <td th:text="${history.readableEndDate}"></td>
                        <td th:text="${history.book}"></td>
                        <td th:text="${history.mode}"></td>
                        <td th:text="${history.jobName}"></td>
                        <td th:text="${history.readableDuration}"></td>
                        <td th:text="${history.status}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Task Details</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="taskChart" width="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Scheduling Details</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="schChart" width="200"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Timeline</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div id="timeline"></div>
            </div>
        </div>
    </div>
</div>

<script
        type="text/javascript"
        src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"
></script>

<script>

    function createHistoryTable() {
        $(document).ready(function () {
            $('#history').DataTable({
                paging: false,
                searching: false,
                "bInfo": false
            });

            console.log(history);
        });

        $(document).ready(function () {
            $('#enactor_history').DataTable();
            console.log(history);
        });

        $(document).ready(function () {
            $('#scheduler_history').DataTable();
            console.log(history);
        });
    }
</script>

<script type="text/javascript" th:inline="javascript">

    // DOM element where the Timeline will be attached
    var container = document.getElementById('timeline');

    // Create a DataSet (allows two way data-binding)

    var items = new vis.DataSet();

    var sdt = [{
        "groups": [{
            id: "schedulerGrp",
            title: "Scheduler",
            content: "Scheduler",
            treeLevel: 1,
        }, /*[# th:each="task : ${history.taskHistory}"]*/
            {
                id: /*[[${task.taskId}]]*/,
                content: /*[[${task.taskName}]]*/,
                nestedGroups: [
                    /*[# th:each="tHist : ${task.taskHistory}"]*/
                    /*[[${tHist.taskId}]]*/,
                    /*[/]*/
                ],
                start: /*[[${task.startDate}]]*/
            },
            /*[/]*/


        ],
    }];

    var nestedGroup = [{
        "nestedGroups": [
            /*[# th:each="task : ${history.taskHistory}"]*/
            /*[# th:each="tHist : ${task.taskHistory}"]*/
            {
                id: /*[[${tHist.taskId}]]*/,
                content: /*[[${tHist.taskName}]]*/,
                start: /*[[${task.startDate}]]*/
            },
            /*[/]*/
            /*[/]*/
        ],
    }];


    var nest = clean(nestedGroup[0].nestedGroups);

    function containsValue(set, nestedGroupElement) {
        for (var it = set.values(), val = null; val = it.next().value;) {
            console.log(val);
            console.log(nestedGroupElement)
            if (val.id === nestedGroupElement.id) {
                return true;
            }
        }
        return false;
    }

    function clean(nestedGroup) {
        var set = new Set();
        for (var i = 0; i < nestedGroup.length; i++) {
            if (containsValue(set, nestedGroup[i]) === false) {
                set.add(nestedGroup[i]);
            }
        }
        console.log(Array.from(set))
        return Array.from(set);
    }

    var scheduler = [{
        "scheduler": [
            /*[# th:each="sHist : ${history.schedulerHistory}"]*/
            {
                id: /*[[${sHist.startDate}]]*/,
                group: "schedulerGrp",
                type: "range",
                content: "Scheduler",
                start: /*[[${sHist.startDate}]]*/,
                end: /*[[${sHist.endDate}]]*/,
                style: "background-color: rgba(0,13,255,0.76)"
            },
            /*[/]*/
        ]
    }];

    var enactor = [{
        "enactor": [
            /*[# th:each="task : ${history.taskHistory}"]*/
            {
                id: /*[[${task.taskId}]]*/,
                group: /*[[${task.taskId}]]*/,
                content: /*[[${task.taskName}]]*/,
                start: /*[[${task.startDate}]]*/,
                end: /*[[${task.endDate}]]*/
            },
            /*[# th:each="tHist : ${task.taskHistory}"]*/
            {
                id: /*[[${tHist.startDate + tHist.taskId}]]*/,
                group:  /*[[${tHist.taskId}]]*/,
                content: /*[[${tHist.taskName}]]*/,
                start: /*[[${tHist.startDate}]]*/,
                end: /*[[${tHist.endDate}]]*/
            },
            /*[/]*/
            /*[/]*/
        ]
    }];


    items.add(scheduler[0].scheduler);
    items.add(enactor[0].enactor);

    var groups = new vis.DataSet();
    groups.add(sdt[0].groups);
    groups.add(nest);


    // Configuration for the Timeline
    var options = {
        groupOrder: "start"
    };

    // Create a Timeline
    var timeline = new vis.Timeline(container, items, groups, options);
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
        integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
      integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
      crossorigin="anonymous"/>

<script type="text/javascript" th:inline="javascript">
    var task_ctx = document.getElementById('taskChart').getContext('2d');
    var taskChart = new Chart(task_ctx, {
        type: 'bar',
        data: {
            labels: [
                /*[# th:each="task : ${history.taskHistory}"]*/
                /*[[${task.taskName}]]*/,
                /*[/]*/
            ],
            datasets: [{
                label: 'Task Execution Time in Seconds',
                data: transformMsToSArray([
                    /*[# th:each="task : ${history.taskHistory}"]*/
                    /*[[${task.duration}]]*/,
                    /*[/]*/]),
                backgroundColor: 'rgba(0,52,255,0.45)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        }
    });

    var sch_ctx = document.getElementById('schChart').getContext('2d');
    var schChart = new Chart(sch_ctx, {
        type: 'bar',
        data: {
            labels: [
                /*[# th:each="sHist : ${history.schedulerHistory}"]*/
                /*[[${sHist.readableStartDate}]]*/,
                /*[/]*/
            ],
            datasets: [{
                label: 'Scheduling Duration in Seconds',
                data: transformMsToSArray([
                    /*[# th:each="sHist : ${history.schedulerHistory}"]*/
                    /*[[${sHist.engineDuration}]]*/,
                    /*[/]*/
                ]),
                backgroundColor: 'rgba(0,13,255,0.76)',
                borderWidth: 1
            }, {
                label: 'Transformation Duration in Seconds',
                data: transformMsToSArray([
                    /*[# th:each="sHist : ${history.schedulerHistory}"]*/
                    /*[[${sHist.transDuration}]]*/,
                    /*[/]*/
                ]),
                backgroundColor: 'rgba(41,255,82,0.76)',
                borderWidth: 1
            }
            ]
        },
        options: {
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    stacked: true,
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        }
    });

    document.getElementById("schChart").onclick = function (evt) {
        var activePoints = schChart.getElementsAtEvent(evt);
        var firstPoint = activePoints[0];
        var label = schChart.data.labels[firstPoint._index];
        var value = schChart.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];
        label = Date.parse(label);
        if (firstPoint !== undefined) {
            console.log(firstPoint);


            window.open(
                "/history/job/scheduler?jobId=" +  /*[#]*/ /*[[${history.jobId}]]*/ /*[/]*/ +"&schedulerId=" + label,
                '_blank' // <- This is what makes it open in a new window.
            );
        }
    };

    function transformMsToSArray(durationInMs) {
        var clonedArr = durationInMs.slice();
        for (let i = 0; i < clonedArr.length; i++) {
            clonedArr[i] = clonedArr[i] / 1000;
        }
        return clonedArr;
    }
</script>


</body>
</html>